.app-navbar {
    background-color: #5421;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100px;
    min-height: 50px;
    z-index: 3;
}

.app-navbar a {
    font-size: 3rem;
}

.app-navbar .fas {
    font-size: 2rem;
    cursor: pointer;
}

.app-navbar .filter-container {
    width: 85%;
}

.app-navbar .filter-input {
    display: flex;
}

/* STATES */

.app-navbar.no-search .filter-container,
.app-navbar.no-search .fa-times {
    display: none;
}

.app-navbar.search .filter-container,
.app-navbar.search .fa-times {
    display: block;
}

.app-navbar.search .navbar-logo,
.app-navbar.search .fa-search {
    display: none;
}

.app-navbar.no-search .navbar-logo,
.app-navbar.no-search .fa-search {
    display: block;
}