<header class="header-container">
<picture>
        <source 
            srcset="../images/header-desktop.jpg"
            media="(min-width: 768px)"
        >
        <source
            srcset="../images/header-tablet.jpg"
            media="(min-width: 375px)"
        >
        <source
            srcset="../images/header-mobile.jpg"
            media="(max-width: 375px)"
        >
        <img class="header-img" src="../images/header-tablet.jpg" alt="cheers">
    </picture>
    <form id="search-form" class="filter-input">
        <input placeholder="Search beer" class="input search" type="text">
        <input placeholder="Brewing year (optional)" class="input search year" type="text" maxlength="4">
        <button type="submit" class="button search">Search</button>
    </form>
</header>    
    
