<div class="header-container">
<picture>
        <source 
            srcset="../images/header@desktop.jpg"
            media="(min-width: 768px)"
        >
        <source
            srcset="../images/header@tablet.jpg"
            media="(min-width: 375px)"
        >
        <source
            srcset="../images/header@mobile.jpg"
            media="(max-width: 375px)"
        >
        <img class="header-img" src="../images/header@tablet.jpg" alt="cheers">
    </picture>
    <form id="search-form" class="filter-input">
        <input placeholder="Busca tu cerveza" class="
        input search" type="text">
        <button type="submit" class="button search">Búsqueda</button>
    </form>

</div>    
    
